* {
    margin : 0;
    padding : 0;
}

.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);    
}

.button {
    background-color: #4285f4;
    border-style: none;
    color : white;
    padding: 4px 8px;
    margin: 4px;
}

.match_width {
    width : calc(100% - 8px);
}

.top header {
    positon: relative;
}
.top h1 {
    display: inline-block;
}
.top label {
    position: absolute;
    right: 16px;
}
.top .card {
    padding-top: 24px;    
    padding-left: 16px;
    padding-right: 16px;
}
.top .card h2 {
    font-size: 16px;
    margin-bottom: 16px;
}



table {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
}

table th {
	width: 100px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border: 3px solid #ff00ff;
}

table td {
	width: 200px;
	padding: 10px;
	vertical-align: top;
	border: 3px solid #ff00ff;
}

