* {
    margin : 0;
    padding : 0;
}

.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);    
}

.button {
    background-color: #4285f4;
    border-style: none;
    color : white;
    padding: 4px 8px;
    margin: 4px;
}

.match_width {
    width : calc(100% - 8px);
}

.top header {
    positon: relative;
}
.top h1 {
    display: inline-block;
}
.top label {
    position: absolute;
    right: 16px;
}

