* {
    margin : 0;
    padding : 0;
}

.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);    
}

.list_item {
    height : 48px;
    border-bottom: 1px solid lightgray;
}

.list_item.line1 {
    line-height: 48px;
}

.button {
    background-color: #FF99CC;
    border-style: none;
    color : white;
    padding: 4px 8px;
    margin: 4px;
    height: 48px;
}

.match_width {
    width : calc(100% - 8px);
}

/* header */
.toolbar {
    height : 64px;
    background-color: #FF99CC;
}

.toolbar .back {
    margin-top: 14px;
    margin-left: 12px;
}

.toolbar h1 {
    display: inline-block;
    color: white;
}

.top header {
    positon: relative;
    height: 32px;
}
.top h1 {
    display: inline-block;
}
.top label {
    position: absolute;
    right: 16px;
}
.top .card {
    padding-top: 24px;    
    padding-left: 16px;
    padding-right: 16px;
}
.top .card h2 {
    font-size: 16px;
    margin-bottom: 16px;
}

.trouble_talk img {
    display: inline-block;
}

.trouble_talk .text {
    display: inline-block;
    width: calc(100% - 64px);
    vertical-align: top;
}

.trouble_talk .text_right {
    display: inline-block;
    width: calc(100% - 64px);
    vertical-align: top;
    text-align: right;
}



table {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
}

table th {
	width: 100px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border: 3px solid #ff00ff;
}

table td {
	width: 200px;
	padding: 10px;
	vertical-align: top;
	border: 3px solid #ff00ff;
}

.btn1 {
    height:50px;
    background-color: #FF99CC;
    box-shadow: 2px 2px 3px 1px #CC66FF;
    -moz-box-shadow: 2px 2px 3px 1px #CC66FF;
    -webkit-box-shadow: 2px 2px 3px 1px #CC66FF;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px;
    text-shadow: 1px 1px 2px #CC3333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none;
}

.btn1:active {
    background-color: #FFCCFF;
    padding: 5px 10px;
    color: #FF99CC;
}

.btn2 {
    margin-left: 4px;
    height:50px;
    background-color: #000;
    box-shadow: 2px 2px 3px 1px #CC66FF;
    -moz-box-shadow: 2px 2px 3px 1px #CC66FF;
    -webkit-box-shadow: 2px 2px 3px 1px #CC66FF;
    font-size: 0.9em;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px;
    text-shadow: 1px 1px 2px #CC3333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none;
}

.btn2:active {
    background-color: #333;
    padding: 5px 10px;
    color: #FF99CC;
}

div.center {
    text-align : center ;
}

.top .trouble_img {
    margin-left: -16px;
}

img.trouble_img {
    width=200px ;
    height=auto ;
}

input.comment {
    line-height:5em;
}

input.text {
    line-height:20em;
}
